{% extends 'homebase.html' %}

{% block content %}

<br>
<br>

<div class="jumbotron" style="margin-bottom:0px;">
  <h1 class="display-4" style="text-align:center;">Hola, Administrador</h1>
  <p class="lead">Bienvenido al Sistema de la Clinica medica la eterna "Primavera".</p>
  <hr class="my-4">
  <p>Puede acceder a varias funciones después de iniciar sesión/registrarse.</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="/adminsignup" role="button">Regístrese </a>
    <a class="btn btn-primary btn-lg" href="/adminlogin" role="button">Iniciar sesión</a>
  </p>
</div>

{% endblock content %}
